#page-mod-boa-view .boa-box {
    text-align: center;
}

#page-mod-boa-view .boa-box .input-group {
    justify-content: center;
}

#page-mod-boa-view .boa-box input.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#page-mod-boa-view .boa-box .input-group button.btn-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#page-mod-boa-view .boa-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

#page-mod-boa-view .one-resource {
    width: 200px;
    margin: 0 10px 10px;
    color: #404674;
    overflow: hidden;
    background-color: #f7f9fa;
    -webkit-box-shadow: 0 0 2px #bbb;
    box-shadow: 0 0 2px #bbb;
    border-radius: 10px;
    padding: 0 0 40px;
    position: relative;
}

#page-mod-boa-view .one-resource .item-type {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 5px 7px;
}

#page-mod-boa-view .thumb-box {
    height: 160px;
    overflow: hidden;
    text-align: center;
    background: #eee no-repeat center center;
    background-size: auto;
    display: block;
    cursor: pointer;
}

#page-mod-boa-view .panel-body {
    padding: 5px;
    text-align: center;
}

#page-mod-boa-view .panel-body a {
    color: #4c6295;
    font-weight: bold;
}

#page-mod-boa-view .panel-body label {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.1em;
}

#page-mod-boa-view .panel-foot {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 5px;
}

#page-mod-boa-view .panel-foot .btn {
    background-color: #587fe3;
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 3px;
}

#page-mod-boa-view .panel-foot .btn:hover {
    background-color: #4c6295;
}

#page-mod-boa-view .panel-cover {
    display: none;
}

#page-mod-boa-view .one-resource:hover .panel-cover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(100, 100, 100, 0.7);
    text-align: center;
    cursor: pointer;
}

#page-mod-boa-view .one-resource:hover .panel-cover i {
    font-size: 80px;
    line-height: 0;
    width: 100%;
    color: #fff;
}

#page-mod-boa-view .panel-foot {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#page-mod-boa-view-modal .social-box .social .icon,
#page-mod-boa-view .panel-foot .social .icon {
    margin-right: 3px;
}

#page-mod-boa-view-modal .social-box .social label,
#page-mod-boa-view .panel-foot .social label {
    margin: 0;
    font-size: 12px;
    display: inline;
}

#page-mod-boa-view-modal .preview {
    text-align: center;
}

#page-mod-boa-view-modal .preview iframe {
    width: 100%;
    height: 50vh;
    border: none;
}

#page-mod-boa-view-modal .preview video,
#page-mod-boa-view-modal .preview img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

#page-mod-boa-view-modal .social-box {
    margin: 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #eee;
}

#page-mod-boa-view-modal .foot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid #eee;
    padding-top: 5px;
    margin-top: 10px;
}

#page-mod-boa-view-modal .foot > span {
    border-bottom: 1px solid #bbb;
    margin-right: 5px;
}

#page-mod-boa-view-modal .modal-title {
    margin-top: 0;
}

#page-mod-boa-view-modal .keywords,
#page-mod-boa-view-modal .rate {
    padding-top: 10px;
    border-bottom: 1px solid #eee;
}

#page-mod-boa-view-modal .rate [data-value] {
    filter: grayscale(1);
}

#page-mod-boa-view-modal .rate .active[data-value],
#page-mod-boa-view-modal .rate [data-value]:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.boasearch-box {
    position: relative;
}

.boasearch-suggestions {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 20px;
    padding: 10px;
    max-width: 400px;
    overflow: auto;
    max-height: 500px;
    box-shadow: 0 10px 10px 0 #888;
    border-radius: 5px;
    z-index: 2;
}

.boasearch-suggestions > li {
    list-style: none;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    padding: 5px;
    cursor: pointer;
}

.boasearch-suggestions > li:hover,
.boasearch-suggestions > li.current {
    background-color: #eee;
}

.boasearch-suggestions > li > em {
    background-color: yellow;
}

#boa-currentselection {
    background-color: #eee;
    border-left: 2px solid #aaa;
}

#boa-currentselection > div.boa-items {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

#boa-contentplay > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

#boa-contentplay iframe {
    width: 100%;
    height: 70vh;
}

#boa-contentplay > div > div > * {
    max-width: 100%;
}

#boa-contentall {
    position: fixed;
    bottom: -135px;
    z-index: 9;
    left: 0;
    right: 0;
    background-color: var(--light);
    border-top: 1px solid #aaae;
    box-shadow: 0 0px 6px #888;
}

#boa-contentall:hover {
    bottom: 0;
}

#boa-contentlist {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-top: 1px solid #aaae;
}

#boa-contentlist .boa-content-active {
    border: 2px solid var(--success);
}

#boa-contentlist .boa-content-active:after {
    content: "✔";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--success);
    color: white;
    padding: 5px;
    border-radius: 0 0 5px 0;
}

#boa-contentlist .boa-content-active:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--success);
    opacity: 0.3;
}

#page-mod-boa-view #boa-contentlist .one-resource {
    padding: 0;
    margin: 0 5px;
}

#page-mod-boa-view #boa-contentlist .panel-body label {
    font-weight: bold;
    font-size: 1em;
    line-height: 1.1em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fffb;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}

#page-mod-boa-view [data-control="search-result"].loading:after {
    content: "\f110";
    font-family: "FontAwesome";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
